 <mat-card>
    <div class="post-box">
            <img src="../../../assets/images/sam.jpeg" alt="" height="50" width="50">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Start a post">
            </div>
            <div class="post-actions">
                <div class="post-action"></div>
                <fa-icon [icon] = 'faPhoto'></fa-icon> 
                <p>Photo</p>
                <fa-icon [icon] = 'faPhoto'></fa-icon> 
                <p>Photo</p>
                <fa-icon [icon] = 'faPhoto'></fa-icon> 
                <p>Photo</p>
                <fa-icon [icon] = 'faPhoto'></fa-icon> 
                <p>Photo</p>
            </div>
            
    </div>
</mat-card>