 <!-- ======= Mobile nav toggle button ======= -->
 <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

 <!-- ======= Header ======= -->
 <header id="header">
   <div class="d-flex flex-column">

     <div class="profile">
       <img src="assets/img/samprofile.jpg" alt="" class="img-fluid rounded-circle">
       <h1 class="text-light"><a href="index.html">Sampatkumar</a></h1>
       <div class="social-links mt-3 text-center">
         <a href="https://twitter.com/sampatk77994198" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
         <a href="https://www.facebook.com/sampatkumar.upase" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
         <a href="https://www.instagram.com/isam9_6/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
         <a href="https://www.linkedin.com/in/sampat-kumar-b70138170" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
       </div>
     </div>

     <nav id="navbar" class="nav-menu navbar">
       <ul>
         <li><a (click)="scrollTo('hero')" href="javascript:void;"class="nav-link scrollto" [ngClass]="{active:scrollId === 'hero'}"><i class="bx bx-home"></i> <span>Home</span></a></li>
         <li><a (click)="scrollTo('about')" href="javascript:void;" class="nav-link scrollto" [ngClass]="{active:scrollId === 'about'}"><i class="bx bx-user"></i> <span>About</span></a></li>
         <li><a (click)="scrollTo('resume')" href="javascript:void;" class="nav-link scrollto" [ngClass]="{active:scrollId === 'resume'}"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
         <li><a (click)="scrollTo('contact')" href="javascript:void;" class="nav-link scrollto" [ngClass]="{active:scrollId === 'contact'}"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
       </ul>
     </nav><!-- .nav-menu -->
   </div>
 </header><!-- End Header -->

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
   <div class="hero-container" data-aos="fade-in">
     <h1>Sampatkumar</h1>
     <p>I'm <span class="typed-element"></span></p>
   </div>
 </section><!-- End Hero -->

 <main id="main">

   <!-- ======= About Section ======= -->
   <section id="about" class="about">
     <div class="container">

       <div class="section-title">
         <h2>About</h2>
         <p>I'm sampatkumar, 25 years old, working as a software developer in multi-national after sales company Syncron. I have 2.6 years of work experience.</p>
       </div>

       <div class="row">
         <div class="col-lg-4" data-aos="fade-right">
           <img src="assets/img/sam2.jpeg" class="img-fluid" alt="">
         </div>
         <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
           <h3>Frontend &amp; Javascript Developer.</h3>
           <p class="fst-italic">
             I have hands on experience on Javascript, Typescript and frontend javascript framework called Angular.I'm currently working on angular 12. I also have experience working with angular libraries such as Routing, NgRx/NgXs, agGrid, AuthGuard, Angular Material, etc. 
           </p>
           <div class="row">
             <div class="col-lg-6">
               <ul>
                 <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>6th Sept 1996</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.github.com/sampatkumar-mca17</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8971505355</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Bengaluru, Karnataka, India</span></li>
               </ul>
             </div>
             <div class="col-lg-6">
               <ul>
                 <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sampatkumar.mca17@gmail.com</span></li>
                 <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
               </ul>
             </div>
           </div>
           <p>
              I have been following best practices for the effective project execution, code writing, I always try to re-use components, angular has strong feature for reusing components. 
           </p>
         </div>
       </div>

     </div>
   </section><!-- End About Section -->

   <!-- ======= Facts Section ======= -->
   <section id="facts" class="facts">
     <div class="container">

       <div class="section-title">
         <h2>Facts</h2>
         <p>I have been always acknowledged by seniors for showing the spirit to learn. I have imperfections in me but saying that I never hesitate to give my 100% at work</p>
       </div>

       <div class="row no-gutters">

         <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
           <div class="count-box">
             <i class="bi bi-journal-richtext"></i>
             <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
             <p><strong>Projects:</strong> Uptime, Worklogs</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
           <div class="count-box">
             <i class="bi bi-headset"></i>
             <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
             <p><strong>Quick Learner</strong></p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
           <div class="count-box">
             <i class="bi bi-people"></i>
             <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
             <p><strong>Enthusiastic Worker</strong></p>
           </div>
         </div>

       </div>

     </div>
   </section><!-- End Facts Section -->

   <!-- ======= Skills Section ======= -->
   <section id="skills" class="skills section-bg">
     <div class="container">

       <div class="section-title">
         <h2>Skills</h2>
         <p>I possess following skills</p>
       </div>

       <div class="row skills-content">

         <div class="col-lg-6" data-aos="fade-up">

           <div class="progress">
             <span class="skill">HTML <i class="val">100%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

           <div class="progress">
             <span class="skill">CSS <i class="val">80%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

           <div class="progress">
             <span class="skill">JavaScript <i class="val">80%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

         </div>

         <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

           <div class="progress">
             <span class="skill">Angular <i class="val">80%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

           <div class="progress">
             <span class="skill">Typescript <i class="val">80%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

           <div class="progress">
             <span class="skill">NgRx/NgXs state management<i class="val">80%</i></span>
             <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
           </div>

           <div class="progress">
            <span class="skill">Version Controlling(GIT, Gerrit)<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

           <div class="progress">
            <span class="skill">Python(Flask Framework)<i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">AWS Services<i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

         </div>

       </div>

     </div>
   </section><!-- End Skills Section -->

   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
     <div class="container">

       <div class="section-title">
         <h2>Resume</h2>
         <p>Experienced working with teams to produce impactful, leading-edge websites that engage
          customers and deliver business results. Well-versed in design standards and user preferences.</p>
       </div>

       <div class="row">
         <div class="col-lg-6" data-aos="fade-up">
           <h3 class="resume-title">Sumary</h3>
           <div class="resume-item pb-0">
             <h4>Sampatkumar</h4>
             <p><em>Working as a software developer in syncron. well knowledged on working with angular, python and aws services</em></p>
             <ul>
               <li>Bengaluru, Karnataka, India</li>
               <li>+918971505355</li>
               <li>sampatkumar.mca17@gmail.com</li>
             </ul>
           </div>

           <h3 class="resume-title">Education</h3>
           <div class="resume-item">
             <h4>Master of Computer Applications - MCA &amp; Computer Programming, Specific</h4>
             <h5>2017 - 2020</h5>
             <p><em>RV College Of Engineering, Bengaluru</em></p>
             <p>Pursued masters of computer applications in RVCE with the gpa of <em>8.5</em> </p>
           </div>
         </div>
         <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
           <h3 class="resume-title">Professional Experience</h3>
           <div class="resume-item">
             <h4>Software Engineer</h4>
             <h5>2020 - Present</h5>
             <p><em>Syncron, Bengaluru, India </em></p>
             <ul>
               <li>Lead in the development, and implementation of the UI, layout, and production communication materials</li>
               <li>Worked on variety of tasks including backend(Python Flask), also have experience working with AWS Services </li>
               <li>Have experience with testing frameworks such as Karma, jest</li>
               <li>Also have good exposure on version controlling(GIT, Gerrit)</li>
             </ul>
           </div>
         </div>
       </div>

     </div>
   </section><!-- End Resume Section -->

   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
     <div class="container">

       <div class="section-title">
         <h2>Contact</h2>
         <p>Feel free to contact me</p>
       </div>

       <div class="row" data-aos="fade-in">
        <!-- <div class="col-lg-4"></div> -->
         <div class="col-lg-12 d-flex align-items-stretch">
           <div class="info">
             <div class="address">
               <i class="bi bi-geo-alt"></i>
               <h4>Location:</h4>
               <p>Bengaluru, Karnataka, India, 560032</p>
             </div>

             <div class="email">
               <i class="bi bi-envelope"></i>
               <h4>Email:</h4>
               <p>sampatkumar.mca17@gmail.com</p>
             </div>

             <div class="phone">
               <i class="bi bi-phone"></i>
               <h4>Call:</h4>
               <p>+91 8971505355</p>
             </div>

             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9452735407417!2d77.59535761518289!3d13.03915549081159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1799c3c23ceb%3A0x2f81c46219e569c6!2sAryan%20Tower%20Apartments%2C%2010%2C%20Vishwanath%20Naganahalli%20Main%20Rd%2C%20Chinana%20Layout%2C%20Guddadahalli%2C%20Hebbal%2C%20Bengaluru%2C%20Karnataka%20560032!5e0!3m2!1sen!2sin!4v1655920489398!5m2!1sen!2sin" width="600" height="450" style="border:0;"  frameborder ="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

             <div class="text-center"><a class="btn btn-primary" target="_blank" href="mailto:sampatkumar.mca17@gmail.com">Send Message</a></div>
           </div>

         </div>

         <!-- <div class="col-lg-3 mt-5 mt-lg-0 d-flex align-items-stretch">
             
         </div> -->

       </div>

     </div>
   </section><!-- End Contact Section -->

 </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
   <div class="container">
     <div class="copyright">
       &copy; Copyright <strong><span>iPortfolio</span></strong>
     </div>
     <div class="credits">
       <!-- All the links in the footer should remain intact. -->
       <!-- You can delete the links only if you purchased the pro version. -->
       <!-- Licensing information: https://bootstrapmade.com/license/ -->
       <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
       Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
     </div>
   </div>
 </footer><!-- End  Footer -->

 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>